<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h2>
    <%= title %>
  </h2>
  <div class="container mt-5">
    <h2 class="mb-4">Log In</h2>
    <form>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-md" id="inputName" placeholder="Enter your Username">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-md" id="inputPassword"
            placeholder="Enter your Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" value="login" class="btn btn-primary">Log In</button>
        </div>
      </div>
      <p>If you don't have account <a href="/signup">Create New account</a></p>
    </form>
  </div>

</body>

</html>